[submodule "Hi3Helper.Plugin.Core"]
	path = Hi3Helper.Plugin.Core
	url = https://github.com/CollapseLauncher/Hi3Helper.Plugin.Core.git
[submodule "SevenZipExtractor"]
	path = SevenZipExtractor
	url = https://github.com/CollapseLauncher/SevenZipExtractor.git
